.title {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tittle__name {
  font-size: 56px;
  font-weight: 700;
}

.title__block {
  display: flex;
  gap: 16px;
}

.title__block-value {
  display: flex;
  gap: 16px;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.title__block-value:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #000;
}
